@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="letter-spacing:2px;">MAIA</h1>
    <h3>Medical Artifical Intelligence Assistant</h3>
    <h5 style="color:#777;">Basically WebMD, but good.</h5>
    <br />
    <button onclick="window.location.href = '/Home/Login/'" class="myButton">Sign in</button>
    <hr />
</div>
